.captations-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.legend-title {
  font-weight: bold;
}

.legend-text {
  font-weight: 300;
  font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
  .skills-and-legend-container {
    flex-direction: column;
  }
}
