.container {
  display: flex;
  align-items: center;
  gap: 1rem;
  align-items: flex-end;
}

.image-container {
  display: flex;
  align-items: center;
}

.box-container {
  width: 100%;
}

.skill-txt {
  color: var(--white-bg-p-color);
  font-weight: 600;
  font-size: var(--p-small-font-size);
}

.skill-box {
  border: 2px solid var(--white-bg-p-color);
}

.skill-box,
.skill-fill,
.image-container {
  height: calc(40px + 0.3vw);
}

.skill-fill {
  position: relative;
  background-color: var(--dark-bg);
  max-width: 0%;
  margin: -2px; /* Removing the border  */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
}

.skill-fill p {
  margin-right: calc(8px + 0.15vw);
  margin-left: 5px;
  overflow: hidden;
  font-size: min(var(--p-small-font-size), calc(24px + 0.5vw));
}
