.item {
  background-color: #fff;
  padding: 1rem;
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: scale 0.35s ease-in-out;
}

.item:hover {
  scale: 1.05;
}

.item h2 {
  color: #fff;
}

.img-container {
  border-radius: 10px;
  position: relative;
  margin-bottom: 24px;
}

.image-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.image-cover:hover {
  background-color: white;
  opacity: 0.6;
}

.image {
  object-fit: contain;
  margin: 0 auto;
}

.title {
  font-size: max(calc(0.8rem + 0.35vw), 17px);
}

.date {
  color: rgb(114, 114, 114);
  font-size: max(var(--p-small-font-size) - 1.5px, 0.55rem);
}

.description {
  margin-top: 0.5rem;
  color: var(--white-bg-p-color);
}

.technologys {
  margin-top: calc(0.7rem + 0.5vw);
  display: flex;
  flex-wrap: wrap;
  gap: 0.35rem;
}
