.item {
  background-color: #fff;
  padding: 1rem;
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item h2 {
  color: #fff;
}

.img-container {
  border-radius: 10px;
  position: relative;
  margin-bottom: 24px;
}

.image {
  object-fit: contain;
}

.title {
  font-size: max(calc(0.8rem + 0.35vw), 17px);
}

.date {
  color: rgb(114, 114, 114);
  font-size: max(var(--p-small-font-size) - 1.5px, 0.55rem);
}

.description {
  margin-top: 0.5rem;
  color: var(--white-bg-p-color);
}

.technologys {
  margin-top: calc(0.7rem + 0.5vw);
  display: flex;
  flex-wrap: wrap;
  gap: 0.35rem;
}
