.container {
	background-color: transparent;
	position: absolute;
	top: 0;
	left: 0;
	height: 1rem;
	padding: 1.5rem 6rem;

	display: flex;
	justify-content: space-between;

	width: 100%;
	height: auto;
}

.container .right {
	display: flex;
	flex-direction: row;
	gap: 0.75rem;
}

.container .right > p {
	padding: 0.5rem 0.75rem;
	margin: 0;
	cursor: pointer;
	color: #ada0b9;

	transition: background-color ease-in-out 0.5s;
}

.container .right > p:hover {
	background-color: #ffffff1e;
}

.hire-me {
	background-color: black;
}

.container .right > p.hire-me:hover {
	background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 600px) {
	.container {
		padding: 1.5rem 3.5rem;
	}
}

@media screen and (max-width: 300px) {
	.container {
		padding: 1.5rem 2rem;
	}
}
