.container {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);

  padding: 1.5rem 6rem;
  /* 6rem related to padding-x */
  max-width: calc(var(--max-page-width) + 6rem * 2);

  display: flex;
  justify-content: space-between;

  width: 100%;
  height: auto;
  z-index: 3;
}

.container .right {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
}

.container .right > p {
  padding: 0.5rem 0.75rem;
  margin: 0;
  cursor: pointer;
  color: #fff;

  font-size: calc(0.68rem + 0.3vw);

  transition: background-color ease-in-out 0.5s;
}

.container .right > p:hover {
  background-color: #ffffff1e;
}

.icon-lang-switcher {
  display: none;
}

.img-container {
  width: 50px;
}

.hire-me {
  background-color: #000;
  width: max-content;
}

.container .right > p.hire-me:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 700px) {
  .container {
    padding: 1.5rem 5rem;
  }
}

/* Change the max-width also in hero.module.css */
@media screen and (max-width: 655px) {
  .container {
    padding: 1.5rem 3.5rem;
    width: auto;
  }

  .container .right {
    gap: 0.5rem;
  }

  .icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .icon-lang-switcher {
    display: block;
  }

  .icon-lang-switcher > div {
    margin-right: -0.75rem; /* value related to language switcher padding right*/
  }

  .lang-switcher {
    display: none;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 400px) {
  .container {
    padding: 1.5rem 1.5rem;
  }

  .container .right {
    gap: 0.25rem;
  }

  .container .right > p {
    padding: 0.5rem 0.5rem;
  }
}

@media screen and (max-width: 270px) {
  .container {
    width: 100%;
  }

  .container .right {
    display: none;
  }
}
