@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --div-height: 680px;
  --max-page-width: 1920px;

  --h1-font-size: min(calc(1.8rem + 1.8vw), 110px);
  --h2-font-size: calc(1.9rem + 0.65vw);
  --p-font-size: calc(0.675rem + 0.4vw);

  --white-bg-p-color: #727272;
  --dark-bg-p-color: #a6a4a8;

  --dark-bg: #131425;

  --navbar-breakpoint: 525px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

textarea,
input,
label,
p {
  font-family: 'Poppins', sans-serif !important;
}

p {
  font-size: var(--p-font-size);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Staatliches', sans-serif !important;
  font-weight: 600;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: 900;
}

h2 {
  font-size: var(--h2-font-size);
}

.limit-width {
  max-width: var(--max-page-width);
  margin: 0 auto;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
